---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
MaxEmptyLinesToKeep: 1
SortIncludes: false
AlignEscapedNewlines: Left
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Never
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
BreakBeforeTernaryOperators: true
TabWidth: 4  # Ensure tabs are consistent with indent
UseTab: Never
ReflowComments: true  # Auto-wrap comments at ColumnLimit
AlignOperands: true  # Align continued lines
